<article class="media">
    <div class="media-content">
      <div class="content">
        <p>
            <strong>id: </strong> <small>{{currentUser.id}}</small>
        </p>
        <p>
            <strong>company: </strong> <small>{{currentUser.company}}</small>
        </p>
        <p>
            <strong>email: </strong> <small>{{currentUser.email}}</small>
        </p>
        <p>
            <strong>location: </strong> <small>{{currentUser.location}}</small>
        </p>
        <p>
            <strong>public_repos: </strong> <small>{{currentUser.public_repos}}</small>
        </p>
        <p>
            <strong>blog: </strong> <small>{{currentUser.blog}}</small>
        </p>
      </div>
    </div>
  </article>
