<section class="section">
<div class="box" *ngIf="currentUser" [ngClass]="{'backGroundColor' : changeBackgroundColor}">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
            <img [src]="currentUser.avatar_url" width="150" height="150">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <div class="columns">
            <div class="column is-one-quarter">
              <p>
                <strong>{{currentUser.login | titlecase}}  </strong>
              </p>
              <p>
                <small>name: {{currentUser.name}}</small>
              </p>
            </div>
            <div class="column">
              <app-user-details *ngIf="showDetails" [currentUser]='currentUser' (newBackgroundColor)="changeBackground($event)" [rating]="rating"></app-user-details>
            </div>
          </div>
         
        </div>
        <nav class="level">
          <div class="level-left">
            <div class="level-item">
              <button class="button is-primary is-light is-small" (click)="showHideDetails()">User Details</button>
            </div>
            <div class="level-item">
              <button class="button is-primary is-light is-small" (click)="addRate(1)">Rate</button>
            </div>
          </div>
        </nav>
      </div>
    </article>
  </div>
</section>
<section class="section">
    <div class="content is-medium">
        <h1>Repos</h1>
        <div *ngIf="(repos| async); else loading">
          <ul *ngFor="let repo of repos | async">
            <li>{{repo.name}}</li>
          </ul>
        </div>
        <ng-template #loading>
          <app-loader></app-loader>
      </ng-template>
    </div>
</section>